img{
    height: 200px;
    width: 200px;
    align-content: end;
}
a{
    font-size: large;
    align-content: center;
}

.movie_container{
    display: flex;
    flex-direction: column;
    justify-content:baseline;
}

.birthday{
    display: flex;
    flex-direction: column;
    justify-content:baseline;
}